/*Des styles globaux à ce fichier et également importer d'autres fichiers de style */


.xng-breadcrumb-root{
    padding:8px 16px;
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail{
    margin-bottom: 0;
    color: #f11919;
}

.xng-breadcrumb-separator {
    padding: 0 0 ;
}