<carousel>
    <slide>
        <img src="assets/tools1.jpg" alt="1ere image" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/tools2.jpg" alt="2ieme image" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/tools3.jpg" alt="3ieme image" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Bienveue sur Simplex!!</h1>
    </div>
</section>
